################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Business/obj
/BusinessTest/obj
/Business/bin/Debug/net8.0
/BusinessTest/bin/Debug/net8.0
/PopQuiz.Demo/obj/Debug/net8.0/ref/PopQuiz.Demo.dll
/PopQuiz.Demo/obj/Debug/net8.0/refint/PopQuiz.Demo.dll
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.AssemblyInfo.cs
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.AssemblyInfoInputs.cache
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.assets.cache
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.csproj.CoreCompileInputs.cache
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.csproj.FileListAbsolute.txt
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.dll
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.GeneratedMSBuildEditorConfig.editorconfig
*.pdb
/PopQuiz.Demo/obj/project.nuget.cache
/PopQuiz.Demo/obj/project.assets.json
/PopQuiz.Data/bin/Debug/net8.0
/PopQuiz.Data/obj/Debug/net8.0/ref
/PopQuiz.Data/obj/Debug/net8.0/refint
/PopQuiz.Data/obj/Debug/net8.0/PopQuiz.Data.AssemblyInfo.cs
/PopQuiz.Data/obj/Debug/net8.0/PopQuiz.Data.AssemblyInfoInputs.cache
/PopQuiz.Data/obj/Debug/net8.0/PopQuiz.Data.assets.cache
/PopQuiz.Data/obj/Debug/net8.0/PopQuiz.Data.csproj.AssemblyReference.cache
*.cache
*.txt
*.dll
/PopQuiz.Data/obj/Debug/net8.0/PopQuiz.Data.GeneratedMSBuildEditorConfig.editorconfig
*.json
/PopQuiz.Data/obj/PopQuiz.Data.csproj.nuget.dgspec.json
/PopQuiz.Data/obj/PopQuiz.Data.csproj.nuget.g.props
/PopQuiz.Demo/obj/PopQuiz.Demo.csproj.nuget.dgspec.json
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.AssemblyInfo.cs
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.GeneratedMSBuildEditorConfig.editorconfig
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.assets.cache
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.AssemblyInfoInputs.cache
/PopQuiz.Models/obj/PopQuiz.Models.csproj.nuget.dgspec.json
/PopQuiz.Models/obj/PopQuiz.Models.csproj.nuget.g.props
/PopQuiz.Models/obj/project.assets.json
/PopQuiz.Models/obj/project.nuget.cache
/PopQuiz.Demo/obj/PopQuiz.Demo.csproj.nuget.g.props
/PopQuiz.Data/obj/project.assets.json
/PopQuiz.Data/obj/project.nuget.cache
