################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Business/bin/Debug/net8.0
/Business/obj/Business.csproj.nuget.dgspec.json
/Business/obj/Business.csproj.nuget.g.props
/Business/obj/project.assets.json
/Business/obj/project.nuget.cache
/BusinessTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/BusinessTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/BusinessTest/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/BusinessTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/BusinessTest/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/BusinessTest/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/BusinessTest/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/BusinessTest/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/BusinessTest/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/BusinessTest/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/BusinessTest/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/BusinessTest/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/BusinessTest/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/BusinessTest/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/BusinessTest/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/BusinessTest/bin/Debug/net8.0
/Business/obj/Debug/net8.0/ref
/Business/obj/Debug/net8.0/refint
/Business/obj/Debug/net8.0/Business.AssemblyInfo.cs
/Business/obj/Debug/net8.0/Business.AssemblyInfoInputs.cache
/Business/obj/Debug/net8.0/Business.assets.cache
/Business/obj/Debug/net8.0/Business.csproj.AssemblyReference.cache
/Business/obj/Debug/net8.0/Business.csproj.CoreCompileInputs.cache
/Business/obj/Debug/net8.0/Business.csproj.FileListAbsolute.txt
/Business/obj/Debug/net8.0/Business.csproj.Up2Date
/Business/obj/Debug/net8.0/Business.dll
/Business/obj/Debug/net8.0/Business.GeneratedMSBuildEditorConfig.editorconfig
/Business/obj/Debug/net8.0/Business.pdb
/Business/obj/Debug/net8.0/Business.sourcelink.json
/PopQuiz.Demo/bin/Debug/net8.0/PopQuiz.Demo.deps.json
/PopQuiz.Demo/bin/Debug/net8.0/PopQuiz.Demo.dll
/PopQuiz.Demo/bin/Debug/net8.0/PopQuiz.Demo.pdb
/PopQuiz.Data/obj
/BusinessTest/obj/Debug/net8.0/ref
/BusinessTest/obj/Debug/net8.0/refint
/BusinessTest/obj/BusinessTest.csproj.nuget.dgspec.json
/BusinessTest/obj/BusinessTest.csproj.nuget.g.props
/BusinessTest/obj/Debug/net8.0/Business.2E11693B.Up2Date
/BusinessTest/obj/Debug/net8.0/BusinessTest.AssemblyInfo.cs
/BusinessTest/obj/Debug/net8.0/BusinessTest.AssemblyInfoInputs.cache
/BusinessTest/obj/Debug/net8.0/BusinessTest.assets.cache
/BusinessTest/obj/Debug/net8.0/BusinessTest.csproj.AssemblyReference.cache
/BusinessTest/obj/Debug/net8.0/BusinessTest.csproj.CoreCompileInputs.cache
/BusinessTest/obj/Debug/net8.0/BusinessTest.csproj.FileListAbsolute.txt
/BusinessTest/obj/Debug/net8.0/BusinessTest.dll
/BusinessTest/obj/Debug/net8.0/BusinessTest.GeneratedMSBuildEditorConfig.editorconfig
/BusinessTest/obj/Debug/net8.0/BusinessTest.genruntimeconfig.cache
/BusinessTest/obj/Debug/net8.0/BusinessTest.pdb
/BusinessTest/obj/Debug/net8.0/BusinessTest.sourcelink.json
/BusinessTest/obj/project.assets.json
/BusinessTest/obj/project.nuget.cache
/PopQuiz.Data/bin/Debug/net8.0/PopQuiz.Data.deps.json
/PopQuiz.Data/bin/Debug/net8.0/PopQuiz.Data.dll
/PopQuiz.Data/bin/Debug/net8.0/PopQuiz.Data.pdb
/PopQuiz.Data/bin/Debug/net8.0/PopQuiz.Data.runtimeconfig.json
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.AssemblyInfo.cs
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.AssemblyInfoInputs.cache
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.assets.cache
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.csproj.CoreCompileInputs.cache
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.csproj.FileListAbsolute.txt
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.dll
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.GeneratedMSBuildEditorConfig.editorconfig
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.pdb
/PopQuiz.Demo/obj/Debug/net8.0/PopQuiz.Demo.sourcelink.json
/PopQuiz.Demo/obj/PopQuiz.Demo.csproj.nuget.dgspec.json
/PopQuiz.Demo/obj/PopQuiz.Demo.csproj.nuget.g.props
/PopQuiz.Demo/obj/project.assets.json
/PopQuiz.Demo/obj/project.nuget.cache
*.dll
*.json
*.pdb
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.AssemblyInfo.cs
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.AssemblyInfoInputs.cache
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.csproj.CoreCompileInputs.cache
/PopQuiz.Models/obj/Debug/net8.0/PopQuiz.Models.csproj.FileListAbsolute.txt
